
microwave-benner.client/node_modules
microwave-benner.client/.npm

*.log
npm-debug.log
yarn-debug.log
yarn-error.log

Dockerfile
.dockerignore

microwave-benner.Server/bin
microwave-benner.Server/obj
microwave-benner.Application/bin
microwave-benner.Application/obj
microwave-benner.Infra.Data/bin
microwave-benner.Infra.Data/obj
microwave-benner.Infra.Ioc/bin
microwave-benner.Infra.Ioc/obj

*.pem
*.key
